<nav
  class="fixed top-0 w-full z-50 shadow-sm bg-white opacity-95 bg-background/95 backdrop-blur-sm border-b border-border transition-all duration-300">
  <div class="py-4 px-4 md:px-12 w-full flex flex-row items-center justify-between gap-4">
    <div class="flex items-center gap-2 animate-fade-in">
      <lucide-icon [img]="heartIcon" class="text-[#800020] h-6 w-6 animate-pulse" />
      <span class="font-heading font-[500] text-xl">Hellen & Adrian</span>
    </div>
    <div class="hidden md:flex items-center gap-8">
      <a routerLink="/home" routerLinkActive="text-[#800020]" class="text-md hover:text-[#800020] transition-all duration-300 hover:scale-105">
        Início
      </a>
      <a href="#save-date" routerLinkActive="text-[#800020]" class="text-md hover:text-[#800020] transition-all duration-300 hover:scale-105">
        Save the Date
      </a>
      <a routerLink="/convidados" routerLinkActive="text-[#800020]" class="text-md hover:text-[#800020] transition-all duration-300 hover:scale-105">
        Convidados
      </a>
      <a routerLink="/padrinhos" routerLinkActive="text-[#800020]" class="text-md hover:text-[#800020] transition-all duration-300 hover:scale-105">
        Padrinhos
      </a>
      <a [routerLink]="giftsRoute" routerLinkActive="text-[#800020]" class="text-md hover:text-[#800020] transition-all duration-300 hover:scale-105">
        Presentes
      </a>
    </div>
  </div>

  <!-- <img src="logo_nosso_casamento_azul.png" alt="Logo" width="46" height="46"> -->
  <!-- <button mat-icon-button aria-label="Menu" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/" [class.active-link]="isActiveRoute('/')">Início</a>
    <a mat-menu-item [routerLink]="guestsRoute" [class.active-link]="isActiveRoute('guestRoute')">
      Lista de Convidados
    </a>
    <a mat-menu-item [routerLink]="giftsRoute" [class.active-link]="isActiveRoute('giftsRoute')">
      Lista de Presentes
    </a>
    @if (isLogged) {
      <a mat-menu-item (click)="logout()">
        Sair
      </a>
    }
  </mat-menu> -->
</nav>