<section class="lists">
  <h3>Nossos Convidados</h3>

  @if (guests.length === 0) {
    <p>Não temos convidados ainda.</p>
  } @else {
    <article>
      <table mat-table [dataSource]="guests" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
        <ng-container matColumnDef="is_by_hellen">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Convidado da(o)</th>
          <td mat-cell *matCellDef="let element"> {{ element.is_by_hellen ? 'Noiva' : 'Noivo' }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </article>
  }
</section>
