section.lists {  
  h3 {
    margin: 40px 0;
    text-align: center;
    color: #fff;
  }

  p {
    color: #fff;
    text-align: center;
  }

  .mat-column-name {
    border-right: 1px solid currentColor;
  }

  table.mat-elevation-z8 {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
  }

  article {
    width: 50%;
    margin: 0 auto;
    max-height: 80vh;
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) {
  section.lists {
    height: 70vh;
    
    h3 {
      font-size: 2rem;
    }

    article {
      width: 80%;
      max-height: 50vh;
    }
  }  
}
