<section id="home">
  <div class="container">
    <img
      src="foto_principal_home.png"
      alt="Hellen & Adrian"
      class="casal_home"
    />

    <div class="main-content">
      <a href="#botoes">
        <i class="fas fa-arrow-down"></i>
      </a>

      <img
        class="logo_vermelha"
        src="logo_nosso_casamento_vermelho.png"
        alt="Hellen & Adrian"
      />

      <div id="botoes">
        <button mat-fab extended>
          Lista de Convidados
        </button>

        <button mat-fab extended>
          Lista de Presentes
        </button>
      </div>
    </div>
  </div>
</section>
