<section id="home">
  <div class="container">
    <img
      alt="Hellen & Adrian"
      class="casal_home"
      [src]="isMobile ? 'foto_principal_home.png' : 'eu_e_ela_1920_1080.png'"
    />

    <div class="main-content">
      <a href="#botoes">
        <i class="fas fa-arrow-down"></i>
      </a>

      <img
        class="logo_vermelha"
        src="logo_nosso_casamento_vermelho.png"
        alt="Hellen & Adrian"
      />

      <div id="botoes">
        <a mat-fab extended routerLink="/convidados">
          Lista de Convidados
        </a>

        <a mat-fab extended routerLink="/presentes">
          Lista de Presentes
        </a>
      </div>
    </div>
  </div>
</section>
